<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Dados</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <h2>Atualizar dados da sala</h2>
        <form method="POST" action="{{ url_for('atualizar_sala') }}">
            <div>
                <label for="numero_sala">Número da Sala (Atual):</label>
                <input type="text" name="numero_sala" id="numero_sala" required>
            </div>
            <div>
                <label for="novo_numero">Novo Número da Sala:</label>
                <input type="text" name="novo_numero" id="novo_numero" required>
            </div>
            <div>
                <label for="nova_capacidade">Nova Capacidade:</label>
                <input type="number" name="nova_capacidade" id="nova_capacidade" required>
            </div>
            <div>
                <label for="senha_admin">Senha de Administrador:</label>
                <input type="password" name="senha_admin" id="senha_admin" required>
            </div>
            <br>
            <button type="submit">Atualizar Sala</button>
        </form>
        <br>
        <a href="{{ url_for('perfil') }}" class="btn btn-secondary">Voltar para o perfil</a>
    </div>

    <!-- Exibindo mensagens de flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container mt-3">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</body>
</html>
