<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Dados</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <h2>Atualizar Dados do Usuário</h2>
        <form method="POST" action="{{ url_for('atualizar_usuario') }}">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" class="form-control" value="{{ usuario.nome }}" required>
            </div>

            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" class="form-control" value="{{ usuario.email }}" required>
            </div>

            <div class="form-group">
                <label for="senha_atual">Senha Atual</label>
                <input type="password" id="senha_atual" name="senha_atual" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="senha_nova">Nova Senha</label>
                <input type="password" id="senha_nova" name="senha_nova" class="form-control">
            </div>

            <div class="form-group">
                <label for="data_nascimento">Data de Nascimento</label>
                <input type="date" id="data_nascimento" name="data_nascimento" class="form-control" value="{{ usuario.data_nascimento }}" required>
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary">Atualizar</button>
            <br><br>
            <a href="{{ url_for('perfil') }}" class="btn btn-secondary">Voltar para o perfil</a>
            <br><br>
            
        </form>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container mt-3">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</body>
</html>
