<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilheteira</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/inicio.css">

</head>
<body>
    <div class="container">
        <h1>Seja Bem-vindo à nossa Bilheteira</h1>
        <p>Escolha uma das opções abaixo para começar a comprar seus ingressos ou explorar filmes!</p>
    

        <a href="{{url_for('login')}}" class="button">Ver Filmes</a>
        <a href="{{url_for('criar_usuario')}}" class="button">Cadastrar-se</a>
    </div>
</body>
</html>
