<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/inicio.css">
</head>
<body>
    <div class="container">
        <h1>Carrinho de Compras</h1>

        {% if itens %}
            <ul>
                {% for item in itens %}
                    <li>
                        Tipo: {{ item.tipo_item }} - Descrição: {{ item.descricao }} - Preço Unitário: R$ {{ item.preco_unitario }} - Quantidade: {{ item.quantidade }} - Subtotal: R$ {{ item.subtotal }}
                    </li>
                {% endfor %}
            </ul>
            <h2>Total: R$ {{ total }}</h2>
        {% else %}
            <p>Seu carrinho está vazio.</p>
        {% endif %}
        
        <a href="{{ url_for('logado') }}" class="button">Voltar à página incial</a>
    </div>
</body>
</html>
